/*body{
	background-color: #000;
	font-family: arial, sans-serif;
  	font-size: 16px;
  	font-weight: 400;
}
table {
  border-collapse: collapse;
  background-color: ;
  text-align: center;
  
}

table, th, td {
  border: 2px solid red;
  color :white ;
}

a {
	color:darkred;
	font-family: arial, sans-serif;
  	font-size: 16px;
  	font-weight: 400;

}

form {
	font-family: arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

input {
  padding: 2px 20px;
  margin-top: 3px;
  box-sizing: border-box;
}


* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*/
html {
  background-color: #101010;
  color: #fff;
}
.table {
  margin:0 auto;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 16px Arial;
  color: #fff;
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #fff;
    padding: 10px;
}