html{
	background-color:black;
}

table{
	border-collapse: collapse;
	text-align: left;
	margin: auto;
}
table, th, td {
  border: 1px solid white;
  color: white;
  font-size: 25px;
}

.btn-group{
 	margin: 0 auto;
 	text-align: center;
 	display: inline-block;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 15px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}